.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 0;
}

.search_input{
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    color: black;
    caret-color:transparent;
    line-height: 50px;
    transition: width 0.4s linear, padding-left 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 300px;
    caret-color:var(--signature);
    color: black;
    transition: width 0.4s linear, padding-left 0.4s linear;
}

.searchbar:hover{
    border:none;
}

.search_icon{
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color:var(--signature);
    background: var(--gray-light);
    text-decoration:none;
}

.right_justify{
    display:flex;
    float:right;
}
