:root{
    --gray-light: #e3e6e8;
    --gray: #919aa1;
    --gray-dark: #454d54;
    --signature-light: #878bc5;
    --signature: #5359ac;
    --signature-dark: #282c57;
    --signature-opaque: rgba(40, 44, 87, 0.5);
    --bkg: #16161d;
}

@font-face {
    font-family: sigfont;
    src: url(A_Font_with_Serifs.ttf);
}

body {
    padding-top: 150px;
    color: var(--gray);
    background-color: var(--bkg);
}

h1,
h2,
h4,
h5,
h6 {
    font-family: sigfont, verdana, sans-serif;
    font-weight: 700;
    color: var(--white);
}

.subheading {
    color: var(--gray-light);
    font-weight: 500;
}

.mainsub {
    color: var(--gray-light) !important;
}

.cta-head {
    text-align: center;   
    text-transform: uppercase;
    line-height: 3rem;
}

.cta-body {
    padding: 2rem;
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--gray-dark);
    color: var(--white) !important;
    border-radius: 15%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    background-color: var(--signature);
}

.bg-primary {
    background-color: var(--signature-dark) !important;
}

.text-primary {
    color: var(--signature) !important;
}

a {
    color: var(--signature);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

a:hover, a:focus, a:active {
    color: var(--signature-light);
}

.navbar {
    background-color: var(--signature-dark);
}
